.footer_first {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footer_second{
    background: #324950;
    color: #B9B9B9;
}

.footer_first .row {
    margin-top: 10px;
}

.footer_item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer_item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer_link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    font-family: 'Robotoslab';
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}